body {
  background-color: hsl(30, 38%, 92%);
  display: flex;
  height: 100vh;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  justify-self: stretch;
}

.content {
  margin-top: 1em;
  margin-left: 2em;
  margin-right: 2em;
  display: grid;
}
.preview {
  letter-spacing: 0.5em;
  color: rgb(141, 141, 141);
  font-size: 0.75em;
  font-family: Arial, Helvetica, sans-serif;
  margin-bottom: 15px;
}
.bigcontainer {
  display: flex;
  justify-content: center;
  width: 40%;
}
.container {
  display: flex;
  width: auto;
  background-color: white;
  border-radius: 0.5em;
  justify-content: stretch;
}
.image1 {
  width: 20em;
  vertical-align: middle;
  border-radius: 0.5em 0em 0em 0.5em;
}
.info {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  line-height: 0.5cm;
  color: rgb(141, 141, 141);
  padding-right: 30px;
}
.heading {
  font-family: "Fraunces";
  line-height: 0.8cm;
  font-weight: 700;
  font-size: 35px;
  color: hsl(212, 21%, 14%);
  margin-bottom: 15px;
  padding-right: 25px;
  justify-content: center;
}
.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}

.price {
  color: hsl(158, 36%, 37%);
  font-weight: 700;
  font-size: 35px;
}
.before-sale {
  text-decoration: line-through;
  font-size: smaller;
  align-content: center;
  color: rgb(141, 141, 141);
}
.price-container {
  font-family: "Fraunces", serif;
  display: flex;
  align-items: center;
  gap: 25px;
}
.image2 {
  display: none;
}
.btn {
  border-style: none;
  border-radius: 7px;
  background-color: hsl(158, 36%, 37%);
  color: white;
  width: 238px;
  height: 45px;
  margin-bottom: 30px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 400;
  align-items: center;
}
.img-btn {
  margin-right: 10px;
}

.btn:hover {
  background-color: hsl(157, 37%, 26%);
}
.btn:active {
  background-color: hsl(0, 0%, 100%);
  color: hsl(212, 21%, 14%);
  border-style: solid;
}

@media (max-width: 800px) {
  .bigcontainer {
    flex-direction: column;
    align-items: center;
  }

  .content {
    flex-direction: column;
    align-items: center;
  }
  .image2 {
    display: block;
    width: 20em;
    border-radius: 0.5em 0.5em 0em 0em;
  }
  .image1 {
    display: none;
  }
  .heading {
    padding: 0%;
  }
  .info {
    padding: 0%;
  }
  .container {
    flex-direction: column;
  }
}
